@using v29.Helpers;
@{
    ViewData["Title"] ="ประวัติผู้ใช้ทำรายการ";
    Dictionary<string, dynamic> breadcrumb = new Dictionary<string, dynamic>();
    breadcrumb.Add("ประวัติผู้ใช้ทำรายการ", new string[]{"User" ,"UserLogsList"});
    ViewBag.breadcrumb = breadcrumb;
    ViewBag.libcss = new string[]{
        "datatables/datatables.min",
        "datatables/Responsive-2.2.7/css/responsive.bootstrap4.min",
        "sweetalert/sweetalert2.min"
    };
    ViewBag.libjs = new string[]{
        "datatables/datatables.min",
        "datatables/Responsive-2.2.7/js/dataTables.responsive.min",
        "datatables/Responsive-2.2.7/js/responsive.bootstrap4.min",
        "sweetalert/sweetalert2.all.min"
    };
    //ViewBag.pagecss =  new string[]{""};
    //ViewBag.pagejs =  new string[]{"userlist"};
    var userd = Startup.userd;
}
<div class="row">
    <div class="col-12">
        <div class="card">
            <div class="card-body">
                <div class="row clearfix">
                <div class="col-sm-12 mb-0 text-right">
                 @if(UserHelper.CheckPerm("107")){
                <a href="javascript:;" class="btn btn-danger btn-sm mb-0"
                    data-toggle="tooltip" data-original-title="เก็บไว้ 1 วัน" id="btnDelete" valx=0><i class="fa fa-trash"></i> ล้างทั้งหมด</a>
                <a href="javascript:;" class="btn btn-danger btn-sm mb-0"
                    data-toggle="tooltip" data-original-title="เก็บไว้ 1 วัน" id="btnDelete1" valx=1><i class="fa fa-trash"></i> เก็บไว้ 1 วัน</a>
                <a href="javascript:;" class="btn btn-danger btn-sm mb-0"
                    data-toggle="tooltip" data-original-title="เก็บไว้ 7 วัน" id="btnDelete2" valx=7><i class="fa fa-trash"></i> เก็บไว้ 7 วัน</a>
                <a href="javascript:;" class="btn btn-danger btn-sm mb-0"
                    data-toggle="tooltip" data-original-title="เก็บไว้ 1 เดือน" id="btnDelete3" valx=30><i class="fa fa-trash"></i> เก็บไว้ 1 เดือน</a>
                }
                <button type="button" class="btn btn-secondary btn-sm mb-0 p-0 px-1" title="Refresh" id="btnRefresh"><span
                    class="sr-only">Refresh</span> <i class="mdi mdi-refresh fs-15"></i></button>
                </div>
            </div>
            <hr>
                <table id="table_id" class="table table-striped table-bordered table-condensed table-sm dt-responsive nowrap" width="100%" cellspacing="0">
                </table>
            </div>
        </div>
    </div>
</div>
@section ReadyScripts
{
    setSidebar("sbmm-system-userslogs");
    $("#table_id").DataTable({
        "dom": 'Bfrtip',
        "processing": true,
        "serverSide": true,
        "paging": true,
        "ajax": {
            "url": "/User/UserLogsListJson/",
            "type": "POST",
            "datatype": "json"
        },
        "lengthMenu": [[500], [500]],
        "order": [[ 0, "desc" ]],
        "columns": [
            { "data": "ulogs_time","title": "เวลา", "width": "130" },
            { "data": "ulogs_val","title": "การกระทำ", "autoWidth": true },
            { "data": "ulogs_bytext","title": "โดย [id]username", "width": "200",className: "text-center" },
            { "data": "ulogs_ip","title": "IP", "width": "100"},
        ]
    });
    $('#btnRefresh').click(function (e) {
        e.preventDefault();
        refreshtable();
    });
     $('#btnDelete,#btnDelete1,#btnDelete2,#btnDelete3').on('click', function() {
      switch ($(this).attr('valx')) {
        case '0':
          var timex = 0;var timetxt = '0 วัน';
          break;
        case '7':
          var timex = 7;var timetxt = '7 วัน';
          break;
        case '30':
          var timex = 30;var timetxt = '1 เดือน';
          break;
        default:
          var timex = 1;var timetxt = '1 วัน';
          break;
      }
        Swal.fire({
            title: 'แน่ใจไหม?',
            text: "ประวัติการเข้าใช้จะถูกลบเหลือไว้เพียง "+timetxt+"!",
            icon: 'warning',
            showCancelButton: true,
            confirmButtonColor: '#3085d6',
            cancelButtonColor: '#d33',
            confirmButtonText: 'ใช้, ลบเลย!',
            cancelButtonText: 'ไม่'
            }).then((result) => {
                if (result.isConfirmed) {
                    $.ajax({
                        method: 'POST',
                        url: '/User/UserLogsListAc',
                        data: { cleanup: timex }
                    })
                    .done(function( data ) {
                        if(data == "ok"){
                            $('#table_id').DataTable().ajax.reload();
                        } else {
                            Swal.fire({
                                icon: 'error',
                                title: 'Oops...',
                                text: data,
                            });
                        }
                    });
                }
        });
    });
}
@section Scripts
{
    <script>
    function refreshtable(){
        $('#table_id').DataTable().ajax.reload();
    }
    </script>
}
