@* @model IEnumerable<WithdrawModel> *@
@{
    ViewData["Title"] = "Deposit - Dashboard";
    
}
<h1>@ViewData["Title"]</h1>


@section scripts {
<script type="text/javascript">

    $(document).ready(function(){

          

          
    });

    function reloadpage(){
        location.reload();
    }
    
    

      

</script>

}

</br></br>
    
Deposit Dashboard






